{% load leaflet_tags %}
<html>
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
        .leaflet-container {
            height: 100%;
        }
    </style>
    <script>
        function createIcon(iconUrl) {
            return L.icon({
                iconUrl: iconUrl,
                iconSize: [20, 20], // size of the icon
            })
        }

        function map_init_basic(map, options) {
            let response = fetch('/api/v1/branches');
            response.then(response => response.json())
                .then(function (data) {
                    data.forEach(function putBranchOnMap(aboutBranch) {
                        let longitude = aboutBranch.longitude;
                        let latitude = aboutBranch.latitude;
                        let iconUrl = aboutBranch.url;
                        if (!iconUrl) {
                            L.marker([latitude, longitude]).addTo(map);
                        } else {
                            let icon = createIcon(iconUrl);
                            L.marker([latitude, longitude], {icon: icon}).addTo(map);
                        }


                    });

                })
        }
    </script>
</head>
<body>
<h1>Company Branches</h1>
{% leaflet_map "app" callback="window.map_init_basic" %}
</body>
</html>